<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERS</title>
</head>
<body>
    <h1>Users Details</h1>
    <a href="/">Refresh</a> <a href="/books/new">Add New Book </a>
    <table border="1">
        <thead>
            <tr>
                <th>book_id</th>
                <th>bookname</th>
                <th>author</th>
                <th>quantity</th>
                <th>price</th>
                <th>availability</th>
            </tr>
        </thead>
        <tbody>
            % for book in books:
            <tr>
                <td>${book['book_id']}</td>
                <td>${book['bookname']}</td>
                <td>${book['author']}</td>
                <td>${book['quantity']}</td>
                <td>${book['price']}</td>
                <td>${book['availability']}</td>
                <td>
                    
                    <a href="/books/edit/${book['book_id']}">Edit</a>
                   
                    <form action="/books/delete/${book['book_id']}" method="post" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            % endfor
        </tbody>
    </table>
</body>
</html>