<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERS</title>
    <style>
        #searchbar{
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>BOOKS</h1>
    <form action="/bookslist" method="get">
        <input id="searchbar" type="text" name="search" placeholder="Search for a book..." required>
        <button id="searchbar" type="submit">Search</button>
    </form> <br>
    <a href="/">Refresh</a> <a href="/books/new">Add New Book </a><br><br>
    <a href="/admin/pending-returns">Approval for returning Books</a><br><br>
    <table border="1">
        <thead>
            <tr>
                <th>book_id</th>
                <th>bookname</th>
                <th>author</th>
                <th>quantity</th>
                <th>price</th>
                <th>availability</th>
            </tr>
        </thead>
        <tbody>
            % for book in books:
            <tr>
                <td>${book['book_id']}</td>
                <td>${book['bookname']}</td>
                <td>${book['author']}</td>
                <td>${book['quantity']}</td>
                <td>${book['price']}</td>
                <td>${book['availability']}</td>
                <td>   
                    <a href="/books/edit/${book['book_id']}">Edit</a>
                   
                    <form action="/books/delete/${book['book_id']}" method="post" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            % endfor
        </tbody>
    </table>
</body>
</html>