<!DOCTYPE html>
<html lang="en">
<head>
    <title>BOOKS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h3>List of Books :</h3>
    <form action="/books" method="post">
        <label for="bookname">Book_name:</label>
        <input type="text" id="bookname" name="bookname" placeholder="Enter bookname" required><br><br>
        <label for="author">Author name:</label>
        <input type="text" id="author" name="author" placeholder="Enter author" required><br><br>
        <label for="quantity">quantity:</label>
        <input type="text" id="quantity" name="quantity" placeholder="Enter how many books did you borrowed" required><br><br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" placeholder="enter the book price" required><br><br>
        <label for="availability">Availability:</label>
        <input type="text" id="availability" name="availability" placeholder="available/out of stock" required><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>