<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .other_category_wrapper {
            display: none;
        }

        .other_category_wrapper.show {
            display: block;
        }
    </style>
    <script>
        function toggleOtherCategory() {
            var categoryDropdown = document.getElementById('category');
            var otherCategoryWrapper = document.getElementById('other_category_wrapper');
            
            if (categoryDropdown.value === 'other') {
                otherCategoryWrapper.style.display = 'block';
            } else {
                otherCategoryWrapper.style.display = 'none';
            }
        }
    </script>
</head>
<body>

    <h3>Registration Form:</h3>
    <form action="/registration" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter Username" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter Email" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Password" required><br><br>
        <label for="category">Category:</label>
        <select id="category" name="category" required onchange="toggleOtherCategory()">
            % for category in categories:
            <option value="${category['id']}">${category['category']}</option>
            % endfor
            <option value="other">Other</option>
        </select><br><br>    
        <div id="other_category_wrapper" style="display:none;">
            <input type="text" id="other_category" name="other_category" placeholder="Enter other category">
        </div>
        <button>Register</button>
    </form>
</body>
</html>