<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h3>Registration Form:</h3>
    <form action="/registeration" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter Username" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter Email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Password" required><br><br>
        <!-- <select id="category" name="category" required onchange="toggleOtherCategory()">
            <option value="">-- Select a category --</option>
            % for cat in categories:
            <option value="${cat['id']}" ${'selected' if user and cat['id'] == user['category'] else ''}>${cat['name']}</option>
            % endfor
            <option value="other">Other</option>
        </select>
        <br><br>
        <div id="other_category_wrapper" class="other_category_wrapper">
            <label for="other_category">Other Category:</label>
            <input type="text" id="other_category" name="other_category" placeholder="Enter Other Category"><br><br>
        </div>
        <button>login</button> -->
        <button type="submit">Submit</button>
    </form>

</body>
</html>

